.dropdown-menu {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  margin-left: auto;
  transform: translate(0px, 34px);
}

.dropdown-toggle img {
  height: 20px;
  width: 20px;
  padding-right: 5px;
  vertical-align: top;
}
